@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-btn: #f4fbf7;
  --color-bg: #f9faff;
  --color-background: #d0f7fa;
  --color-short-bg: #edf4ff;
  --color-short: #d0e1ff;
  --color-white: #fff;
  --color-tag: #037092;
  --color-tag-bg: #f3fafc;
  --color-random: #b0babf;
  --color-gray: #666666;
  --color-light-gray: #c4c4c4;
  --color-light-l-gray: #979797;
  --color-input-border: #a0a0a0;
  --color-red: #a80000;
  --color-green: #00635b;
  --color-blue: #1d4ed8;
  --color-value: #22215b;
  --color-value-bg: #f7f8fd;
  --color-white: #ffffff;
  --transition: all 400ms ease;
  --color-black: #000000;
  --border-sty: 1px solid #ebebeb;
  --border-color: #eee;
  --light-shadow: rgb(3 0 71 / 5%) 0px 1px 3px;
  --box-shadow: 0 5px 10px 0 hsla(0, 0%, 73.3%, 0.4);
  --container-width-lg: 95%;
  --container-width-md: 97%;
  --container-width-sm: 99%;
}

.app {
  overflow: hidden;
}

html {
  background-color: var(--color-white);
}

.container {
  width: var(--container-width-lg);
  margin: auto;
}

.box_shadow {
  box-shadow: var(--box-shadow);
}

.light_shadow {
  box-shadow: var(--light-shadow);
}

.a_flex {
  display: flex;
  align-items: center;
}
.b_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.c_flex {
  display: flex;
  justify-content: space-between;
}
.d_flex {
  display: flex;
}
.f_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul li {
  list-style: none;
}

.light_shadow {
  box-shadow: var();
}
input,
button {
  outline: none;
  border: none;
  background: transparent;
}

/*  */

.layout {
  z-index: 2;
}

.side-bar {
  background-color: var(--color-white);
  position: sticky;
  top: 0;
  /* z-index: 210; */
  z-index: 5;
}
.menu_items {
}

.menu_items {
  height: 100%;
}
.menu_icon {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}
.menu_icon .icon {
  cursor: pointer;
}
.menu_icon .close_icon {
  position: absolute;
  right: 20px;
}
.user_name {
  width: 100%;
  display: inline-flex;
  position: relative;
  top: 40px;
  left: 23px;
}
.user_short {
  background-color: var(--color-blue);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: var(--color-white);

  /* top: 50%; */
}
